<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Google Business Review</title>
	<link rel="stylesheet" href="style.css">
	
</head>
<body>
	<h1>Heading</h1>
	<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Atque numquam aliquid esse commodi, quidem voluptates sed illo, inventore labore, doloremque amet consectetur consequuntur quis officia! Vero eum quis obcaecati hic?</p>
	<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi temporibus iusto dolor, quasi consequuntur odio, numquam facere itaque reiciendis molestiae, expedita, eius corporis deleniti est reprehenderit? Explicabo at distinctio non.</p>
	<p>
		Lorem ipsum dolor sit amet consectetur adipisicing elit. A, consequatur commodi sed dolorum earum? Consequuntur explicabo ea et aspernatur porro hic culpa praesentium expedita sunt accusamus consequatur, magni labore quam exercitationem! Maxime alias, ipsam at reprehenderit, cum culpa error consequuntur itaque iusto temporibus eius placeat nesciunt nisi, fugiat repellendus dolore debitis enim dolores eum suscipit quidem quasi quis, repudiandae? Excepturi quia fugiat, fugit culpa consequatur rerum facere vero temporibus debitis omnis ipsa sunt, inventore ut minima minus libero accusamus tempore explicabo natus architecto numquam quasi tempora voluptatem? Id, ipsa dicta ducimus culpa, quidem quo sapiente nostrum tenetur nemo, nulla ratione.
	</p>


	<div id="wp-gbr-viewer" class="bottom-right premium-version-viewer">
		<div class="wp-gbr-viewer-header">
			<div href="#" target="_blank" class="inline-flex">
				<img src="logo.png" alt="" width="50" class="brand-logo">
				<div class="ml-4">
					<div class="heading2">Finprov Learning</div>
					<div class="inline-flex justify-space-around">
						<span class="wp-gbr-profile-rating">4.9</span>
						<div class="stars-sm ml-2">
							<img src="star.svg" alt="">
							<img src="star.svg" alt="">
							<img src="star.svg" alt="">
							<img src="star.svg" alt="">
							<img src="star.svg" alt="">
						</div>
						<span class="muted ml-3">111 Reviews</span>
					</div>
				</div>
			</div>
			<button class="btn-close" onclick="closeDiv()">
				<img src="close.svg" alt="">
				<!-- <img src="close-light.svg" alt=""> -->
			</button>
		</div>
		<div class="wp-gbr-viewer-body">
			<div class="wpgbr-actions">
				<a href="#" class="wpgbr-action-button"><img src="pen.png" alt=""> Write A Review</a>
			</div>
			<div class="review-box">
				<div href="#" target="_blank" id="wp-gbr-button" class="inline-flex">
					<img src="user.png" alt="" width="34">
					<div class="ml-2">
						<div class="wpgbr-user-name">Anju Aniyan</div>
						<div class="inline-flex justify-space-around">
							<div class="stars-sm">
								<img src="star.svg" alt="">
								<img src="star.svg" alt="">
								<img src="star.svg" alt="">
								<img src="star.svg" alt="">
								<img src="star.svg" alt="">
							</div>
							<span class="muted font-xs ml-2">28 days ago</span>
						</div>
					</div>
				</div>
				<p class="wp-gbr-text">I have enrolled in CBAT Course from Finprov Learning. Classes are of good quality. Basics are taught very well so any beginner can also understand the content very easily. The training was excellent and I am really glad that I made the right choice by taking the course. Advanced MS Excel course is highly recommended.</p>
			</div>
			<div class="review-box">
				<div href="#" target="_blank" id="wp-gbr-button" class="inline-flex">
					<img src="user.png" alt="" width="34">
					<div class="ml-2">
						<div class="wpgbr-user-name">Anju Aniyan</div>
						<div class="inline-flex justify-space-around">
							<div class="stars-sm">
								<img src="star.svg" alt="">
								<img src="star.svg" alt="">
								<img src="star.svg" alt="">
								<img src="star.svg" alt="">
								<img src="star.svg" alt="">
							</div>
							<span class="muted font-xs ml-2">28 days ago</span>
						</div>
					</div>
				</div>
				<p class="wp-gbr-text">I have enrolled in CBAT Course from Finprov Learning. Classes are of good quality. Basics are taught very well so any beginner can also understand the content very easily. The training was excellent and I am really glad that I made the right choice by taking the course. Advanced MS Excel course is highly recommended.</p>
			</div>
			<div class="review-box">
				<div href="#" target="_blank" id="wp-gbr-button" class="inline-flex">
					<img src="user.png" alt="" width="34">
					<div class="ml-2">
						<div class="wpgbr-user-name">Anju Aniyan</div>
						<div class="inline-flex justify-space-around">
							<div class="stars-sm">
								<img src="star.svg" alt="">
								<img src="star.svg" alt="">
								<img src="star.svg" alt="">
								<img src="star.svg" alt="">
								<img src="star.svg" alt="">
							</div>
							<span class="muted font-xs ml-2">28 days ago</span>
						</div>
					</div>
				</div>
				<p class="wp-gbr-text">I have enrolled in CBAT Course from Finprov Learning. Classes are of good quality. Basics are taught very well so any beginner can also understand the content very easily. The training was excellent and I am really glad that I made the right choice by taking the course. Advanced MS Excel course is highly recommended.</p>
			</div>
			<div class="review-box">
				<div href="#" target="_blank" id="wp-gbr-button" class="inline-flex">
					<img src="user.png" alt="" width="34">
					<div class="ml-2">
						<div class="wpgbr-user-name">Anju Aniyan</div>
						<div class="inline-flex justify-space-around">
							<div class="stars-sm">
								<img src="star.svg" alt="">
								<img src="star.svg" alt="">
								<img src="star.svg" alt="">
								<img src="star.svg" alt="">
								<img src="star.svg" alt="">
							</div>
							<span class="muted font-xs ml-2">28 days ago</span>
						</div>
					</div>
				</div>
				<p class="wp-gbr-text">I have enrolled in CBAT Course from Finprov Learning. Classes are of good quality. Basics are taught very well so any beginner can also understand the content very easily. The training was excellent and I am really glad that I made the right choice by taking the course. Advanced MS Excel course is highly recommended.</p>
			</div>
			<div class="review-box">
				<div href="#" target="_blank" id="wp-gbr-button" class="inline-flex">
					<img src="user.png" alt="" width="34">
					<div class="ml-2">
						<div class="wpgbr-user-name">Anju Aniyan</div>
						<div class="inline-flex justify-space-around">
							<div class="stars-sm">
								<img src="star.svg" alt="">
								<img src="star.svg" alt="">
								<img src="star.svg" alt="">
								<img src="star.svg" alt="">
								<img src="star.svg" alt="">
							</div>
							<span class="muted font-xs ml-2">28 days ago</span>
						</div>
					</div>
				</div>
				<p class="wp-gbr-text">I have enrolled in CBAT Course from Finprov Learning. Classes are of good quality. Basics are taught very well so any beginner can also understand the content very easily. The training was excellent and I am really glad that I made the right choice by taking the course. Advanced MS Excel course is highly recommended.</p>
			</div>
			<div class="review-box">
				<div href="#" target="_blank" id="wp-gbr-button" class="inline-flex">
					<img src="user.png" alt="" width="34">
					<div class="ml-2">
						<div class="wpgbr-user-name">Anju Aniyan</div>
						<div class="inline-flex justify-space-around">
							<div class="stars-sm">
								<img src="star.svg" alt="">
								<img src="star.svg" alt="">
								<img src="star.svg" alt="">
								<img src="star.svg" alt="">
								<img src="star.svg" alt="">
							</div>
							<span class="muted font-font-xs ml-2">28 days ago</span>
						</div>
					</div>
				</div>
				<p class="wp-gbr-text">I have enrolled in CBAT Course from Finprov Learning. Classes are of good quality. Basics are taught very well so any beginner can also understand the content very easily. The training was excellent and I am really glad that I made the right choice by taking the course. Advanced MS Excel course is highly recommended.</p>
			</div>
			<a href="#" class="wpgbr-more-reviews">View More Reviews</a>
		</div>
		<div class="wp-gbr-viewer-footer">
			<img src="powered_by_google_on_white.png" alt="">
			<!-- <img src="powered_by_google_on_non_white.png" alt=""> -->
		</div>		
	</div>

	<div id="wp-google-business-reviews" class="border-round bottom-right wp-gbr-font" onclick="openDiv()">
		<div href="#" target="_blank" id="wp-gbr-button" class="inline-flex">
			<img src="google.svg" alt="" width="34">
			<div class="ml-2">
				<div class="inline-flex justify-space-around">
					<span class="wp-gbr-profile-rating">4.9</span>
					<div class="stars ml-2">
						<img src="star.svg" alt="">
						<img src="star.svg" alt="">
						<img src="star.svg" alt="">
						<img src="star-half.svg" alt="">
						<img src="star-empty.svg" alt="">
					</div>
				</div>
				<div class="wp-gbr-total-rating">Based on <span>566</span> Reviews</div>
			</div>
		</div>
	</div>


	<div id="wp-gbr-proof-popup" class="border-rounded bottom-left wp-gbr-font animate__animated animate__bounceIn">
		<div href="#" target="_blank"  class="inline-flex">
			<img src="user.png" alt="" width="40">
			<div class="ml-2">
				<div class="wp-gbr-total-rating">
					<b>Anju Aniyan</b> left a review 
					<a href="#" class="wp-gbr-popup-close"><img src="close.svg" alt="" width="14"></a>
				</div>
				<div class="inline-flex mt-1">
					<span class="wp-gbr-profile-rating">4.9</span>
					<div class="stars ml-2">
						<img src="star.svg" alt="">
						<img src="star.svg" alt="">
						<img src="star.svg" alt="">
						<img src="star.svg" alt="">
						<img src="star.svg" alt="">
					</div>
				</div>
			</div>
		</div>
	</div>


	<script>

	function openDiv() {
	  document.getElementById("wp-gbr-viewer").style.display = "block";
	}

	function closeDiv() {
	  document.getElementById("wp-gbr-viewer").style.display = "none";
	}
	</script>

</body>
</html>