<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Google Business Review</title>
	<link rel="stylesheet" href="../assets/frontend/css/style.css">
</head>
<body>
	<h1>Heading</h1>
	<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Atque numquam aliquid esse commodi, quidem voluptates sed illo, inventore labore, doloremque amet consectetur consequuntur quis officia! Vero eum quis obcaecati hic?</p>
</body>
</html>